.Competition{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Semi-bold */
    color: white;
}
.Form{
    margin-left: 3%;
    margin-top: 0%;
    padding-top: 0%;
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 200; /* Semi-bold */
    color: white;
}
.Edit{
    padding: 10px 20px;
    margin: 1%;
    font-size: 16px;
    background-color: #272727;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
