/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body{
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  background-color: black;
  height: 100%;
}

.container h1 {
  margin-bottom: 5%;
  margin-top: 7%;
  font-size: 3vw;
  color: white;
}

.container input[type="text"],
.container input[type="password"] {
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
  outline: none;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus {
  border-color: rgb(255, 255, 255);
}

.buttonContainer {
  display: flex;
}

.buttonContainer button {
  width: 100px;
  flex: 1;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #FFD700;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}

.buttonContainer button:last-child {
  margin-right: 0;
}

.buttonContainer button:hover {
  background-color: #D4AF37;
}
