@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
  
.menu-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.nav-button {
    margin: 1% 2%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #272727;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}
.nav-button {
    transition: all 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .nav-button:hover {
    transform: scale(1.1); /* Scale up the button on hover */
  }
  

.first-conteiner {
    background-image: url('../photo/fight1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
  
.theme-present {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold; /* Corrected */
    font-style: italic; /* Corrected */
    font-size: 3vh;
    font-family: 'Poppins', sans-serif; /* Removed other font-family declarations */
}

.second-conteiner {
    background-image: linear-gradient(to bottom, #141414, #2A2A2A);
    height: 100vh;
    width: 100%;
    position: relative;
}


.big-letters {
    position: relative;
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: flex-start; /* Align the text to the top */
    width: 100%;
}

.big-letters p {
  font-size: 3800%;
  color: white;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold; /* Corrected */
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.75;
}

.three-fighters-photo{
    height: 90%;
    background-image: url('../photo/3fighetrs.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50%;
}

.text{
    width: 50%;
    height: 30% ;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    margin-left: 2%;
    margin-top: 3%;
    font-size: larger;
}
.third-container{
    background-image: url('../photo/blackfight.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.fourth-container {
    background-color: #1A1A1A;
    height: 100vh;
    width: 100%;
    position: relative;
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    text-align: center;
    color: white;
}
.fifth-container{
    background-color: #1A1A1A;
    height: 90vh;
    width: 100%;
    position: relative;
}
.distipl-text{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Semi-bold */
    margin-left: 2%;
    margin-top: 3%;
    color: white;
}
.six-conteiner{
    background-color: #1A1A1A;
    height: 60vh;
    width: 100%;
    position: relative;
}
.français{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Semi-bold */
    margin-left: 2%;
    margin-top: 0%;
    padding-top: 0%;
    color: white;
}
.français p {
    margin-top: 0%;
    padding-top: 0%;
}

.seven-conteiner{
    background-color: #1A1A1A;
    height: 45vh;
    width: 100%;
    position: relative;
}
