@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
  
.menu-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.nav-button {
    margin: 1% 2%;  /* BUTTON CONNEXION */
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; /* Corrected */
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;  
}
.nav-button {
    transition: all 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .nav-button:hover {
    transform: scale(1.1); /* Scale up the button on hover */
  }
  

.first-conteiner {
    background-image: url('../photo/fight1.jpg'); /* FIRST FOTO */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
  
.theme-present {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold; 
    font-style: italic; 
    font-size: 3vh;
    font-family: 'Poppins', sans-serif; /* Removed other font-family declarations */
}

.second-conteiner {
    background-image: linear-gradient(to bottom, #141414, #2A2A2A);    /* ANIMATED PART */
    height: 100vh;
    width: 100%;
    position: relative;
}


.big-letters {
    position: relative;
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: flex-start; /* Align the text to the top */
    width: 100%;
}

.big-letters p {
  font-size: 3800%;
  color: white;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold; 
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.75;
}

.three-fighters-photo{
    height: 90%;
    background-image: url('../photo/3fighetrs.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50%;
}

.text{
    width: 50%;
    height: 30% ;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    margin-left: 2%;
    margin-top: 3%;
    font-size: larger;
}
.third-container{
    background-image: url('../photo/blackfight.png');   /*  FOTO PART */
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    position: relative;
}

.fourth-container {
  background-color: #1A1A1A;     /* VIDEO PART */
  height: 70vh;
  width: 100%;
  position: relative;
  font-size: 6vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 550; /* Semi-bold */
  text-align: center;
  color: white;
  margin: 0%;
}
.fifth-container{
    background-color: #1A1A1A; /* 3 DISCIPLINES */
    height: 100vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.distipl-text{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    text-align: center;
    color: white;
}
.six-conteiner{
    background-color: #1A1A1A; /*  OPACITY ANIMATION */
    height: 60vh;
    width: 100%;
    position: relative;
}
.français{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    text-align: center;
    color: white;
}
.français p {
    margin-top: 0%;
    padding-top: 0%;
}

.seven-conteiner{
    background-color: #1A1A1A;
    height: 45vh;
    width: 100%;
    position: relative;
}
.four-part-container {    /*  INFORMATION PART */
    display: flex;
    background-color: #1A1A1A;
    height: 80vh;
    width: 100%;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-4-part {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin-left: -30%; 
    padding: 0%;
    text-align: left;
  }
  
  .photo {
    text-align: center;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
  }
  .lastconteiner{
    background-color: #1A1A1A; /*  INPUT PART */
    height: 30vh;
    width: 100%;
  }
  .bigtext{
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 550; /* Semi-bold */
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
  }
  .smalltext{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin: -2%;
    padding: 0%;
  }
  .lastbutton{
    background-color: #1A1A1A;
    height: 10vh;
    width: 100%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
/* Footer.css */

.horizontal-column {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */   /*  ADDITION INFO */
    height: 3vh;
    width: 100%;
    background-color: #1A1A1A;
    margin-top: 10vh;
  }
  
  .horizontal-column p {
    margin: 0 12vh;/* Remove default margin for paragraphs */
    font-size: 10px; /* Adjust font size as needed */
    color: white;
    text-decoration: underline;
  }
  
  .Caroussel {            /*  CAROUSSEL PART */
    height: 20%;
    width: 90%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    margin-left: 3%;
  }
  .Caroussel .carousel-image {
    width: 50%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
  }



  .Competition{     /*  BUTTONS PART */
    font-size: 6vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Semi-bold */
    color: white;
}
.Form{
    margin-left: 3%;
    margin-top: 0%;
    padding-top: 0%;
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 200; /* Semi-bold */
    color: white;
}
.Edit{
    padding: 10px 20px;
    margin: 1%;
    font-size: 16px;
    background-color: #272727;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.opacity-box-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;                    /*  OPACITY PART */
  height: 100vh;
  width: 180vh;
}

.opacity-box {
  position: relative;
  width: 30%;
  height: 100vh;
  overflow: hidden; /* Ensure text doesn't overflow */
}

.opacity-box .image {
  width: 100%;
  height: auto;
}

.opacity-box .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity-box:hover .image {
  opacity: 0.3;
}

.opacity-box:hover .middle {
  opacity: 1;
}

.opacity-box .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  color: white;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}



.second-container {
  position: relative;           /*  ANIMATED PART */
}

.second-container .big-letters {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.second-container .three-fighters-photo,
.second-container .text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
