.opacity-box-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .opacity-box {
    position: relative;
    width: 30%;
    overflow: hidden; /* Ensure text doesn't overflow */
  }
  
  .opacity-box .image {
    width: 100%;
    height: auto;
  }
  
  .opacity-box .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .opacity-box:hover .image {
    opacity: 0.3;
  }
  
  .opacity-box:hover .middle {
    opacity: 1;
  }
  
  .opacity-box .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  